
app_back/NicosApp/.vs/
app_ionic/*~
app_ionic/*.sw[mnpcod]
app_ionic/.tmp
app_ionic/*.tmp
app_ionic/*.tmp.*
app_ionic/*.sublime-project
app_ionic/*.sublime-workspace
app_ionic/.DS_Store
app_ionic/Thumbs.db
app_ionic/UserInterfaceState.xcuserstate
app_ionic/$RECYCLE.BIN/

app_ionic/*.log
app_ionic/log.txt
app_ionic/npm-debug.log*

app_ionic/.idea
app_ionic/.ionic
app_ionic/.sass-cache
app_ionic/.sourcemaps
app_ionic/.versions
app_ionic/.vscode
app_ionic/coverage
app_ionic/dist
app_ionic/node_modules
app_ionic/platforms
app_ionic/plugins
app_ionic/www
app_back/NicosApp/NicosApp.API/obj/
app_back/NicosApp/NicosApp.API/bin/
app_back/NicosApp/NicosApp.Core/bin
