<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fe7d5f82-f41d-406a-bde6-8b51641b87c0/resourceGroups/NicosApp.API/providers/Microsoft.Web/sites/NicosAppAPI20210426181656</ResourceId>
    <ResourceGroup>NicosApp.API</ResourceGroup>
    <ApiResourceId>/subscriptions/fe7d5f82-f41d-406a-bde6-8b51641b87c0/resourceGroups/NicosApp.API/providers/Microsoft.ApiManagement/service/NicosAPI/apis/NicosAppAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://nicosappapi20210426181656.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>803394e7-f203-4aa2-864e-26f7a8a54401</ProjectGuid>
    <MSDeployServiceURL>nicosappapi20210426181656.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NicosAppAPI20210426181656</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NicosAppAPI20210426181656</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>